<div class="flex flex-row items-center">
    <app-chevron-right-svg [colour]="'text-indigo-500'"></app-chevron-right-svg>
    <div
      class="
        flex flex-row
        items-center
        overflow-hidden
        whitespace-nowrap
        tracking-normal
        typewriter
      "
    >
      <img
        src="../assets/nasa-bw-logo-2.png"
        width="35px"
        height="35px"
        class="mx-2"
      />
      <span class="text-white font-mono text-sm mr-2"> -> </span>
      <p class="text-white font-mono text-sm">
        At vero eos et accusamus et iusto odio dignissimos du
      </p>
    </div>
  </div>
