<app-nav></app-nav>
<div class="flex justify-center">
  <div class="launches-text">LAUNCHES -------></div>
  <div class="upnext-text">UP NEXT...</div>
</div>
<app-details [data]="data$ | async"></app-details>
<!-- flex flex-col justify-center text-center h-20 left-0 bottom-0 w-full bg-black text-white align-middle font-mono text-sm -->
<div class="flex flex-col justify-center text-center h-20 bg-red text-white align-middle font-mono text-sm">
  <div class="text-white">Made by Plazmodium</div>
  <div class="text-white">Data powered by <a class="text-blue-500 hover:underline " href="https://www.rocketlaunch.live/" target="_blank">RocketLaunch.Live</a></div>
</div>
