<button
  class="py-2 px-16 m-2 bg-blue-500 hover:bg-blue-300 rounded-md text-white"
>
  Click Me!
</button>

<pre class="text-green-500">
    _   _______   _   _  _______   _______ 
    | | | | ___ \ | \ | ||  ___\ \ / /_   _|
    | | | | |_/ / |  \| || |__  \ V /  | |  
    | | | |  __/  | . ` ||  __| /   \  | |  
    | |_| | |     | |\  || |___/ /^\ \ | |  
     \___/\_|     \_| \_/\____/\/   \/ \_/   
</pre>

<div
  class="
    w-1/2
    overflow-hidden
    border-r-2 border-solid border-orange-500
    whitespace-nowrap
    tracking-normal
    typewriter
  "
>
  <p class="bg-red-500">
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
  </p>
</div>
