.launches-text{
  font-family: 'AlienLeague';
  color: rgba(16, 185, 129);
  font-size: 2rem;
}

.upnext-text{
    font-family: 'AlienLeague';
    color: rgba(16, 185, 129);
    font-size: 7rem;

    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: linearwipe 10s steps(40, end); 
}
  
  @keyframes linearwipe{ 
    from { width: 0; } 
  }  