@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'AlienLeague';
  src: url(assets/fonts/AlienLeagueIiGradient-XOMa.otf) format("opentype");
}

@font-face {
  font-family: 'Andromeda';
  src: url(assets/fonts/Andromeda-eR2n.ttf) format("truetype");
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: solid blue;
  border-width: thick;
  display:block;
  box-sizing: border-box;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: lightslategray;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gainsboro; 
}